.cats {
    width: 100%;
    object-fit: fill;
    background-color: green;
    overflow: hidden;
}

.heading {
    text-align: center;
    font-size: 60px;
    margin-left: -30%;
    padding-top: 1%;
}

.catbreeds {
    position: absolute;
    top: 10vh;
    left: 65vw;
    font-size: 30px;
}

.add-to-favs {
    position: absolute;
    top: 5vh;
    left: 58vw;
    font-size: 30px;
}

.remove-from-favs {
    position: absolute;
    top: 20vh;
    left: 63vw;
    font-size: 30px;
}


